* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(230, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

.logo {
  color: rgb(0, 0, 0);
}

@media (min-width: 391px) {
  .icon-bar {
    display: none;
  }

  nav {
    display: none;
    background-color: orange;
  }

  nav ul {
    background-color: blue;
    width: 1000px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }
}

.kolom{
     background-color: #ff9011;
  color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 5px; 
}

.f14{

}