.gor {
  text-align: center;
  text-decoration: double;
}
.h {
  text-align: end;
}

.moi {
  text-align: center;
}
.AZ {
  text-align: center;
  text-overflow: initial;
  width: 100px;
}
.lll {
  width: 100px;
}

.d {
}

.NN {
  display: flex;
  justify-content: center;
  text-transform: lowercase;
}

.d {
  text-transform: lowercase;
}

.g{
  text-transform: lowercase;
}

.t{
  text-transform: lowercase;
}

.ZA{
  text-transform: lowercase;
}

.w{
  text-transform: lowercase;
}

.z{
  text-transform: lowercase;
}
.z{
  text-transform: lowercase;
}
.jj{
  text-transform: lowercase;
}

.ls{
  text-transform: lowercase;
}

.aZA{
  text-transform: lowercase;
}
.asa{
  text-transform: lowercase;
}

.zaz{
  text-transform: lowercase;
}

.LOLL{
  
}