.parrent {
  background-color: green;
  width: 10000px;
  height: 50px;
}

.card {
  background-color: rgb(255, 230, 0);
  width: 10000px;
  height: 50px;
  position: absolute;
}

.box {
  background-color: blue;
  width: 500px;
  height: 400px;
}
