.I {
  text-align: right;
  text-transform: capitalize;
  color: purple;
}

.text-base {
  text-align: right;

  text-transform: capitalize;
  text-decoration: rgb(219, 219, 219);
}
.K {
  /* background-color: red; */
  width: 700px;
  /* height: 96%; */
}
.y {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mi {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: gray; */
}

.ro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  word-spacing: 2px;
}

body {
  background-color: rgb(255, 255, 255);
}


.ss {
  display: flex;
  align-items: center;
  justify-content: center;
}


.button{
     text-align: right;
}
 